{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block userlinks %}
    <script type="text/javascript">
        document.getElementById("welcome").className="";
        document.getElementById("change_passwd").className="active";
    </script>
{% endblock %}

{% block content %}
<br />
<h3>{% trans 'Password change successful' %}</h3>
<br />
<p class="alert alert-success">{% trans 'Your password was changed.' %}</p>

{% endblock %}
