<!DOCTYPE html>
<html>
	<head>
		
		<title>{% block title %} {% endblock %}</title>

		<script src="/static/js/jquery.min.js"></script>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>


		<script type="text/javascript">
				$(function() {
	    $('body').tooltip({
	        selector: "[rel=tooltip]", // можете использовать любой селектор
	        placement: "bottom" 
	    });
		});
		</script>

	</head>
	
	<body>
		 <div class="navbar navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Cabinet</a>
    <ul class="nav">
      <li><a href="/">Головна</a></li>
      {% if user.is_authenticated %}<li><a href="/profile">Профіль</a></li>
	  {% else %} <li><a href="/reg">Реєстрація</a></li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}<ul class="nav pull-right">{%if user.is_staff %} <li><a  href="/admin">Адміністрування</a></li> {% endif %}<li><a rel="tooltip"  href="/logout"  data-original-title="{{ user.first_name }} {{ user.last_name }}">Вихід<i class="icon-share-alt"></i></a></li></ul>{% endif %}
  </div>
</div>
<div class='container'>
		{% block content %}{% endblock %}
</div>
<footer>
      <div class="container">
        <p><a href="/howto" rel="author">HOW TO</a>
      </div>
    </footer>
	</body>
</html>
