{% extends 'base.html'%}
{% block title %} User Guide {% endblock %}
{% block content %} 
<object width="800" height="500">
<param name="movie" value="/static/howto.swf">
<embed src="/static/howto.swf" width="800" height="500">
</embed>
</object>
<br>
<a href='/static/howto.pptx'>Download</a>
{% endblock %}