{% extends "base.html" %}

{% block title %} HELLO {% endblock %}

{% block content %}
<div class="row">
	<div class="offset4  span4" >
		<form class='signin' action='/' method='POST'>
			<fieldset>
				<legend><h2>Авторизуйтесь</h2></legend>
				<input name='username' type='text' placeholder='Код студента або Логін' value='{{ name }}'/><br>
				<input name='password' type='password' placeholder='Пароль'/><br>
				{% if error %}
				<span class="badge badge-important">Не вірний код студента або пароль.</span> <br>
				{% endif %}
				<a id='submit' href='#' class='btn btn-inverse'  onClick="jQuery('.signin').submit()"> 
					<i class='icon-share-alt icon-white'></i> Увійти
				</a>
			</fieldset>
			{% csrf_token %}
		</form>
		<div class="spoiler-wrap">
			<div class="spoiler-head folded">
				<a href="#">Забули пароль?</a>
			</div>
			{% if succes == 1 %}
			<div class="alert alert-success">Новий пароль вислано вам на email</div>
			{% endif %}
			{% if succes == 0 %}
			<div class="alert alert-danger">Користувач з таким email не зареєстрований</div>
			{% endif %}
			
			<div class="spoiler-body alert alert-block">
				<form action='/resset_passw/' class='resset_pasw' method="POST">
					<fieldset>	
						<label>Введіть Email</label>
						<div class="input-append" >
							<input class='email' name='email' type='text' placeholder='Email'/>
							<button class='pass btn btn-mini input-append'>Відновити</button>
						</div>
					 {% csrf_token %}
					 </fieldset> 
				</form>
			</div>
		</div>	
	</div>
</div>	

			<script type="text/javascript">


			    jQuery(document).ready(function(){
			    

			        jQuery('.spoiler-body').hide()

			        jQuery('.spoiler-head').click(function(){

			            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().toggle()
			        })
			    })
			</script>
			<script type="text/javascript">

			$('.pass').bind('click', $('.resset_pasw').submit(function{
			    	$.ajax({data: {'email': $('.email').val()},
			    			type: 'POST',
			    			url: $(this).attr('action'),
			    			success: function(data){
				    				$('#spoiler-body').hide()
				    			if (data.success)
				    			{
				    				$('.spoiler-head').after('<div class="alert alert-success">Новий пароль вислано вам на email</div>')
				    			}
				    			else {
				    				$('.spoiler-head').after('<div class="alert alert-success">Користувач з таким email не зареєстрований</div>')
				    			}
			    				} 
			    			
			    		 	
			    	}); return false
			    })
			</script>

<script type="text/javascript">if (!$)
    var $ = django.jQuery;

$('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = $.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});</script>
{% endblock %}
