{% extends 'base.html' %}
{% load templtag %}
{% block title %}{{ lab.alias }}{% endblock %}

{% block content %}  
<div>
<table class="table table-striped">
	<thead>
			<tr>
				<th>Назва</th>
				<th>Коментарі</th>	
				<th>Дата завантаження<th>

			</tr>
		</thead>
	<tbody>
{% for file in files %}
<tr>
					<td><a href='{{ file.file_n.url }}'>{{ file.filename }}</a></td>
					
	<td>
		{% if  comments|keyvalue:file.id  %}
			{% for comment in comments|keyvalue:file.id %}
			
			<p><strong>{{ comment.post_date|date:'d.m.Y' }}</strong><br>
				<div class="alert alert-success">
				<span class="badge badge-success">{{ comment.user.user.first_name }} {{ comment.user.user.last_name }}:</span>
				<p>{{ comment.comment}} </p>
				</div>
			
			{% endfor %}
			
		{% endif %}
		<div class="spoiler-wrap">
				<div class="spoiler-head folded">
					<a href="#">Додати коментар</a>
				</div>
				<div class="spoiler-body alert alert-block" >
					<form action='/post_comment/'  method="POST">
						<fieldset>	
							<label>Коментар</label>
							<div class="input-append" >
								<input type = 'hidden' name='file_id' value='{{file.id}}'/>
								<input type = 'hidden' name='lab_id' value='{{lab.id}}'/>
								<input type = 'hidden' name='path' value='{{path}}'
								<input class='comment' name='comment' type='text' placeholder='Введіть коментар'/>
								
								<button type='submit' class='pass btn btn-mini input-append'>Відправити</button>
							</div>
						 {% csrf_token %}
						 </fieldset> 
					</form>
				</div>
			</div>	
	</td>
	<td>{{ file.upload_date }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<form enctype="multipart/form-data" method="POST" action='/{{ user.username }}/lab/{{ lab.id }}/'>
	{% csrf_token %}
{{ form }}
<a class="btn btn-small btn-info" onClick="$('input[id=id_file_n]').click();">Обрати Файл</a>
<button class='btn btn-inverse' type='submit' ><i class="icon-upload icon-white"></i> Завантажити</button>

</form>
<script type="text/javascript">


			    jQuery(document).ready(function(){
			    

			        jQuery('.spoiler-body').hide()

			        jQuery('.spoiler-head').click(function(){

			            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().toggle()
			        })
			    })
			</script>

{% endblock %}