{% extends "base.html" %}
{% load templtag %}
{% block title %} Мої Предмети {% endblock %}

{% block content %}
{% if user.is_staff %}
{% for course in courses.keys %}
	<h2> {{ course }} курс</h2>

	{% for subject in courses|keyvalue:course %}
		<h4> {{ subject.alias }}</h4>

		<table class='table'>
			<thead>
				<tr >
					<th>Назва</th>
					<th>Останній термін<th>
				</tr>
			</thead>
	{% endfor %}
{% endfor %}
{% else %}
	 {% for subject in subjects %}
	 
	<h4> {{ subject.alias }}</h4>

		<table class='table'>
			<thead>
				<tr>
					<th>Назва</th>
					<th>Останній термін<th>
				</tr>
			</thead>
			{% for k, v in labs.items %}
				{% if  subject.id ==  k  %}
					{% for one in v %}
					<tr>
						<td><a href='/{{ user.username }}/lab/{{ one.id }}/'>{{ one.alias }}</a></td>
						<td>{{ one.last_date }}</td>
					</tr>
					{% endfor %}
				{% endif %}
	   		{% endfor %}
		</table>

 {% endfor %}
{% endif %}
{% endblock %}