{% extends "base.html" %}

{% block title %} Редагування профілю {% endblock %}

{% block content %}
<script src="/static/js/jquery.maskedinput-1.2.2.js"></script>
<script type="text/javascript">
jQuery(function($) {
$.mask.definitions['~']='[+-]';
$('input[name="username"]').mask('9999999');
$('input[name="group"]').mask('999');

});
</script>

 <div class="span3 offset6 " >
 	<h3>Редагування профілю</h3>
<form action='/profile' method='POST'>
<fieldset>
	<input name='username' type='text' placeholder='Код студента' value='{{ id }}' readonly/><br>
	<input name='password1' type='password' placeholder='Пароль'/><br>
	<input name='password2' type='password' placeholder='Підтвердження Пароля'/><br>
	<input name='email' type='text' placeholder='Email' value='{{ email }}'/><br>
	<input name='name' type='text' placeholder='Ім&#39;я' value='{{ name }}'/><br>
	<input name='last_name' type='text' placeholder='Прізвище' value='{{ last_name }}'/><br>
	<input name='group' type='text' placeholder='Группа' value='{{ group }}'/>
	<button class='btn btn-primary' type='submit' ><i class="icon-ok icon-white"></i> Зберегти зміни</button>
{% csrf_token %}
</fieldset>
</form>
</div>
{% endblock %}
