{% extends "base.html" %}

{% block title %} Реєстрація {% endblock %}

{% block content %}


 	<h3>Реєстрація</h3>
<form action='/register/student/' method='POST'>
<fieldset>
	<input name='username' type='text' placeholder='Код студента'/><br>
	<input name='password1' type='password' placeholder='Пароль'/><br>
	<input name='password2' type='password' placeholder='Підтвердження Пароля'/><br>
	<input name='email' type='text' placeholder='Email'/><br>
	<input name='name' type='text' placeholder='Ім&#39;я'/><br>
	<input name='last_name' type='text' placeholder='Прізвище'/><br>
	<input name='group' type='text' placeholder='Группа'><br>
	<button class='btn btn-inverse' type='submit' ><i class="icon-user icon-white"></i>Зареєструватись</button>
{% csrf_token %}
</fieldset>
</form>



{% endblock %}
