{% extends 'base.html' %}

{% block content %} 

<div class="container">
	{% for course,subjects in courses.items %}
		<h3>{{ course }} Курс</h3>

		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				{% for subject in subjects %}

			<li class="nav-header spoiler-head folded">{{ subject.alias }}</li>
					<ul class="nav nav-list spoiler-body">
					{% for lab in labs	%}
						{% if lab.subject_id == subject %}
						<li><a href='/staff/lab/{{ lab.id }}/'>{{ lab.alias }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>


<script type="text/javascript">


			    jQuery(document).ready(function(){
			    

			        jQuery('.spoiler-body').hide()

			        jQuery('.spoiler-head').click(function(){

			            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().toggle()
			        })
			    })
			</script>
{% endblock %}


			

			
