{% extends 'base.html' %}

{% block title %} Список Робіт {% endblock %}

{% block content %} 

<div class="container">

	{% for group in groups %}
		<h3>{{ group }} Група</h3>

		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				{% for student in students %}
				
						{% if student.group_num == group %}
						<li><a href='/{{student.user.username}}/lab/{{ lab_id }}/'>{{ student.user.first_name }} {{student.user.last_name}}</a></li>
						{% endif %}
					
					
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>


{% endblock %}
